---
layout: default 
banner-image: /assets/images/blog-bg-12.jpg
banner-heading: A whole new world

seo: 
    title: This should appear in the browser tab
    description: 
    keywords: 
    social_image: 
    hide-from-google: false
---

<section class="bg-[#E0DCD9]">
    <div class="max-w-screen-2xl grid grid-cols-2 gap-8 p-10">
        <div class="bg-center bg-cover pb-120p" style="background-image: url('/assets/images/blog-bg-13.jpg');"></div>
<div class="self-center">
    <h2 > A fascinating heading about the site</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt fuga tempora deleniti. Labore nobis animi maxime doloremque necessitatibus deserunt praesentium eum error minima placeat adipisci commodi dolores sunt, nemo minus?</p>
    <a href="#">read more</a>
</div>
    </div>



</section>

{% include upcoming-destinations.html %}

{% include recent-blog-posts.html %}