<section>
    <h2 class="uppercase text-center pt-10">upcoming travel destinations</h2>
    <div class="grid grid-cols-2 gap-5">
        <div>
{% for item in site.data.travel-dates %}
        <div class="flex justify-between py-4 border-t-2 first:mt-5 last:mb-5 last:border-b-2 uppercase"  >
            <p>
                {{item.destination}}
            </p>
            <p>
                {{item.dates}}
            </p>
        </div>
{% endfor %}
        </div><div class="bg-cover bg-center "  style="background-image: url('/assets/images/blog-bg-14.jpg');"></div>
        </div>

       
        </div>
</section>
