<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
    <header class="#E0DC9">
        <div class="max-w-screen-2xl flex justify-between uppercase">
            <nav class="flex gap-4">
                <a href="/">Logo</a>
             </nav>
            <nav class="flex gap-4">
                <a href="/blog">Blog</a>
                <a href="/shop">Shop</a>
                <a href="/member-login">Members Login</a>
            </nav>
        </div>
    </header>
    {% if page.banner-image %}

    <section class="bg-cover bg-center " 
    style="background-image: url('{{page.banner-image}}');">

        <div class="flex items-center max-w-screen-2xl min-h-screen">
            <div>
            <h1 class="text-white text-9xl max-w-[55vw]">{{page.banner-heading}}
            </h1>
            <p class="text-white uppercase text-sm max-w-lg ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, fugiat quo! 
            </p>
        </div>
        </div>
    </section>

    {% endif %}

    {{content}}

    <footer></footer>
</body>
</html>